<div class="container">  
  <svg (click)="common.goBack()" class="bi bi-arrow-left-short" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M7.854 4.646a.5.5 0 010 .708L5.207 8l2.647 2.646a.5.5 0 01-.708.708l-3-3a.5.5 0 010-.708l3-3a.5.5 0 01.708 0z" clip-rule="evenodd"/>
    <path fill-rule="evenodd" d="M4.5 8a.5.5 0 01.5-.5h6.5a.5.5 0 010 1H5a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
    </svg>    
      <div class="p-2">
        <div class="text-center">
          <img class="image-circle" height="100" width="100" src="../../../assets/user.png" alt=""> <br>         
          <form  *ngIf="profileInfo" (ngSubmit)="update(editFrom)" #editFrom="ngForm" class="form-signin">
            <div class="form-label-group py-1">
              <input disabled style="font-size:12px !important;" type="email" name="email" [(ngModel)]="profileInfo.email"  class="form-control" placeholder="Email address" required autofocus>              
            </div> 
            <div class="form-label-group py-1">
                <input style="font-size:12px !important;" type="name" name="name" [(ngModel)]="profileInfo.name"  class="form-control" placeholder="Name" required autofocus>              
              </div> 
            <div class="form-label-group py-2">
              <input style="font-size:12px !important;" type="number" name="number" [(ngModel)]="profileInfo.number"  class="form-control" placeholder="Contact number" required autofocus>              
            </div> 
            <div class="form-label-group py-2">
              <input style="font-size:12px !important;" type="number" name="age" [(ngModel)]="profileInfo.age"  class="form-control" placeholder="Age" required autofocus>              
            </div> 
            <div class=" text-center">
              <button style="font-size:12px !important;" class="btn btn-sm btn-success" type="submit">Save</button>            
            </div>                      
          </form>
        </div>
      </div>    
</div>       
